.header, .footer{
    background-color: #1F2937;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero p, .link {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
}

.information h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-source {
    font-size: 18px;
    font-weight: 800;
}